In [1]:
import pandas as pd

In [47]:
df = pd.DataFrame({
        "x"  : ["20-10-11 08:12:13", "21-09-15 16:17:18"],
        "x2" : ["2020-10-11", "2021-09-15"],
        "y"  : [1,0] })
df

                   x          x2  y
0  20-10-11 08:12:13  2020-10-11  1
1  21-09-15 16:17:18  2021-09-15  0

In [48]:
df.dtypes

x     object
x2    object
y      int64
dtype: object

In [49]:
# 日時に変換

In [50]:
# format：https://docs.python.org/ja/3.6/library/datetime.html#strftime-and-strptime-behavior
df["x3"] = pd.to_datetime(df["x"], format="%y-%m-%d %H:%M:%S")
df["x3"]

0   2020-10-11 08:12:13
1   2021-09-15 16:17:18
Name: x3, dtype: datetime64[ns]

In [51]:
df["x4"] = pd.to_datetime(df["x2"], format="%Y-%m-%d")
df["x4"]

0   2020-10-11
1   2021-09-15
Name: x4, dtype: datetime64[ns]

In [52]:
df.dtypes

x             object
x2            object
y              int64
x3    datetime64[ns]
x4    datetime64[ns]
dtype: object

In [53]:
df

                   x          x2  y                  x3         x4
0  20-10-11 08:12:13  2020-10-11  1 2020-10-11 08:12:13 2020-10-11
1  21-09-15 16:17:18  2021-09-15  0 2021-09-15 16:17:18 2021-09-15

In [54]:
# 数値に変換（ばらばら）

In [56]:
# click_time         datetime64[ns]
print( df.head(1)['x3'] )
print( df.head(1)['x3'].dt )
print( df.head(1)['x3'].dt.year )
print( df.head(1)['x3'].dt.month )
print( df.head(1)['x3'].dt.day )
print( df.head(1)['x3'].dt.hour )
print( df.head(1)['x3'].dt.minute )
print( df.head(1)['x3'].dt.second )

0   2020-10-11 08:12:13
Name: x3, dtype: datetime64[ns]
<pandas.core.indexes.accessors.DatetimeProperties object at 0x000001123F216A90>
0    2020
Name: x3, dtype: int64
0    10
Name: x3, dtype: int64
0    11
Name: x3, dtype: int64
0    8
Name: x3, dtype: int64
0    12
Name: x3, dtype: int64
0    13
Name: x3, dtype: int64

In [58]:
df.head(1)['x3'].dt

In [ ]:
# 文字列変換

In [82]:
df['x3'].astype(str)

0    2020-10-11 08:12:13
1    2021-09-15 16:17:18
Name: x3, dtype: object

In [83]:
df['x3'].dt.strftime("%Y年")

0    2020-10-11 08:12:13
1    2021-09-15 16:17:18
Name: x3, dtype: object

In [93]:
# いま漢字がつかえなかったので適当な区切り文字で
df['x3'].dt.strftime('%Y_%m_%d(%A) %H_%M_%S ')

0       2020_10_11(Sunday) 08_12_13
1    2021_09_15(Wednesday) 16_17_18
Name: x3, dtype: object