### ====================================
### HashingEncoder
category_encoders.HashingEncoder[▼DOC](
http://contrib.scikit-learn.org/category_encoders/hashing.html
) 
>次元/精度を構成可能な多変量ハッシュの実装。  
このエンコーダの利点は、監視されたカテゴリの辞書を維持しないことです。  
その結果、エンコーダーはサイズが大きくならず、  
データスコアリング中に新しい値を受け取ることができます。  
max_processとmax_sampleを手動で設定する前に、  
それらがどのように機能するかを読むことが重要です。  
マルチプロセッシングが問題を引き起こす可能性があるため、  
Windowsでは「max_process」のデフォルト値は1です。次を 参照してください   https : //github.com/scikit-learn-contrib/categorical-encoding/issues/215 https://docs.python.org/ 2 / library / multiprocessing.html？highlight = process＃windows

In [1]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [3]:
# どこの所属？
try: 
    from sklearn.preprocessing import HashingEncoder
    print("sklearn.preprocessingにある")
except ImportError:
    print("sklearn.preprocessingにはない")

try:
    from category_encoders import HashingEncoder
    print("category_encodersにある")
except ImportError:
    print("category_encodersにはない")

sklearn.preprocessingにはない
category_encodersにある

In [4]:
from category_encoders import HashingEncoder

In [5]:
df = pd.DataFrame({
        "COLOR" : ["Red", "Yellow", "Red", "Red", "Blue"],
        "SIZE" : ["S", "M", "L", "S", "S"],
        "WEIGHT" : [200, 100, 300, 300, 300],
        "HARDNESS" : ["hard", "soft", "medium", "hard", "soft"],
        "OUTCOME" : [1,2,0,0,0] })
df

    COLOR SIZE  WEIGHT HARDNESS  OUTCOME
0     Red    S     200     hard        1
1  Yellow    M     100     soft        2
2     Red    L     300   medium        0
3     Red    S     300     hard        0
4    Blue    S     300     soft        0

In [6]:
# 説明変数X と 目的変数Yに分ける
df_X = df[["COLOR", "SIZE", "WEIGHT","HARDNESS"]].copy()
df_Y = df[["OUTCOME"]].copy()

In [7]:
df_X_test = pd.DataFrame({
        "COLOR" : ["Red", "Yellow", "Red", "Green"],
        "SIZE" : ["S", "M", "L", "XL", ],
        "WEIGHT" : [200, 100, 300, 400],
        "HARDNESS" : ["hard", "soft", "medium", "maxhard"] })
df_X_test

    COLOR SIZE  WEIGHT HARDNESS
0     Red    S     200     hard
1  Yellow    M     100     soft
2     Red    L     300   medium
3   Green   XL     400  maxhard

・Encodeしてみる

In [10]:
print("エンコード前")
display(df_X)

print("エンコード後")
enc = HashingEncoder()
enc.fit_transform( df_X )

エンコード前

    COLOR SIZE  WEIGHT HARDNESS
0     Red    S     200     hard
1  Yellow    M     100     soft
2     Red    L     300   medium
3     Red    S     300     hard
4    Blue    S     300     soft

エンコード後

   col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7  WEIGHT
0      0      0      0      0      0      1      1      1     200
1      1      0      0      0      2      0      0      0     100
2      0      0      0      1      0      0      0      2     300
3      0      0      0      0      0      1      1      1     300
4      0      1      0      0      1      0      1      0     300

In [9]:
print("エンコード前")
display(df_X)

print("エンコード後")
enc = HashingEncoder()
enc.fit_transform( df_X, df_Y)

エンコード前

    COLOR SIZE  WEIGHT HARDNESS
0     Red    S     200     hard
1  Yellow    M     100     soft
2     Red    L     300   medium
3     Red    S     300     hard
4    Blue    S     300     soft

エンコード後

   col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7  WEIGHT
0      0      0      0      0      0      1      1      1     200
1      1      0      0      0      2      0      0      0     100
2      0      0      0      1      0      0      0      2     300
3      0      0      0      0      0      1      1      1     300
4      0      1      0      0      1      0      1      0     300