In [21]:
import itertools
import numpy as np
import pandas as pd

In [ ]:
# まずシンプルにやってみる

In [14]:
lst = ["a","b","c","d","e"]

In [20]:
itertools.combinations(lst,2)

In [25]:
print( len(list(itertools.combinations(lst,2) ) ) ) 
print( list(itertools.combinations(lst,2) ) )

10
[('a', 'b'), ('a', 'c'), ('a', 'd'), ('a', 'e'), ('b', 'c'), ('b', 'd'), ('b', 'e'), ('c', 'd'), ('c', 'e'), ('d', 'e')]

In [23]:
pd.DataFrame(itertools.combinations(lst,2))

   0  1
0  a  b
1  a  c
2  a  d
3  a  e
4  b  c
5  b  d
6  b  e
7  c  d
8  c  e
9  d  e

In [16]:
# 次にデータフレームで
# 沢山列があると、組み合わせるのが大変

In [47]:
# 特徴のペアを反復処理する最も簡単な方法は、itertools.combinationsを使うことです。
# それぞれの新しいカラムに対して、値をアンダースコア付きの文字列として結合すると、13と47は "13_47" になります。
# 新しい列をデータセットに追加する際には、値をラベルでエンコードするようにしてください。

In [63]:
df = pd.DataFrame({
        "MAIDIN" : ["North", "North", "West", "East", "North"],
        "MATERIAL" : ["Wood", "Cupper", "Silver", "Gold", "Silver"],
        "COLOR" : ["Red", "Yellow", "Red", "Red", "Blue"],
        "SIZE" : ["S", "M", "L", "S", "S"],})
df

  MAIDIN MATERIAL   COLOR SIZE
0  North     Wood     Red    S
1  North   Cupper  Yellow    M
2   West   Silver     Red    L
3   East     Gold     Red    S
4  North   Silver    Blue    S

In [64]:
df_bk =df.copy()

In [67]:
itertools.combinations(df,2)

In [68]:
pd.DataFrame(itertools.combinations(df,2))

          0         1
0    MAIDIN  MATERIAL
1    MAIDIN     COLOR
2    MAIDIN      SIZE
3  MATERIAL     COLOR
4  MATERIAL      SIZE
5     COLOR      SIZE

In [69]:
for i,j in itertools.combinations(df,2):
    print(i,j)

MAIDIN MATERIAL
MAIDIN COLOR
MAIDIN SIZE
MATERIAL COLOR
MATERIAL SIZE
COLOR SIZE

In [70]:
for i,j in itertools.combinations(df,2):
    new_col_name = i + "_" + j
    print(i,j,"→",new_col_name)
    df[new_col_name] = df[i] + "_" + df[j]

MAIDIN MATERIAL → MAIDIN_MATERIAL
MAIDIN COLOR → MAIDIN_COLOR
MAIDIN SIZE → MAIDIN_SIZE
MATERIAL COLOR → MATERIAL_COLOR
MATERIAL SIZE → MATERIAL_SIZE
COLOR SIZE → COLOR_SIZE

In [71]:
df

,MAIDIN,MATERIAL,COLOR,SIZE,MAIDIN_MATERIAL,MAIDIN_COLOR,MAIDIN_SIZE,MATERIAL_COLOR,MATERIAL_SIZE,COLOR_SIZE
0,North,Wood,Red,S,North_Wood,North_Red,North_S,Wood_Red,Wood_S,Red_S
1,North,Cupper,Yellow,M,North_Cupper,North_Yellow,North_M,Cupper_Yellow,Cupper_M,Yellow_M
2,West,Silver,Red,L,West_Silver,West_Red,West_L,Silver_Red,Silver_L,Red_L
3,East,Gold,Red,S,East_Gold,East_Red,East_S,Gold_Red,Gold_S,Red_S
4,North,Silver,Blue,S,North_Silver,North_Blue,North_S,Silver_Blue,Silver_S,Blue_S

In [79]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [80]:
newcollst = [i+"_"+j for i,j in list(itertools.combinations(df_bk,2))]
newcollst

['MAIDIN_MATERIAL',
 'MAIDIN_COLOR',
 'MAIDIN_SIZE',
 'MATERIAL_COLOR',
 'MATERIAL_SIZE',
 'COLOR_SIZE']

In [84]:
df[ newcollst ] = df[ newcollst ].apply(le.fit_transform)

In [85]:
df

,MAIDIN,MATERIAL,COLOR,SIZE,MAIDIN_MATERIAL,MAIDIN_COLOR,MAIDIN_SIZE,MATERIAL_COLOR,MATERIAL_SIZE,COLOR_SIZE
0,North,Wood,Red,S,3,2,2,4,4,2
1,North,Cupper,Yellow,M,1,3,1,0,0,3
2,West,Silver,Red,L,4,4,3,3,2,1
3,East,Gold,Red,S,0,0,0,1,1,2
4,North,Silver,Blue,S,2,1,2,2,3,0