### ====================================
### One-Hot Encoder
sklearn.preprocessing.OneHotEncoder[▼DOC](
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html
)  
category_encoders.OneHotEncoder[▼DOC](
http://contrib.scikit-learn.org/category_encoders/onehot.html
)  
・OneHotEncoderクラスを使ってもいいし、pd/get_dummiesでもOneHotできる。  
　OneHotEncoderクラスは、fit&trasfrom、get_dummeisはただただ変換するだけ、
・
Ｎａｎ

In [15]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [16]:
# どこの所属？
try: 
    from sklearn.preprocessing import OneHotEncoder
    print("sklearn.preprocessingにある")
except ImportError:
    print("sklearn.preprocessingにはない")

try:
    from category_encoders import OneHotEncoder
    print("category_encodersにある")
except ImportError:
    print("category_encodersにはない")

sklearn.preprocessingにある
category_encodersにある

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [18]:
df = pd.DataFrame({
        "COLOR" : ["Red", "Yellow", "Red", "Red", "Blue"],
        "SIZE" : ["S", "M", "L", "S", "S"],
        "WEIGHT" : [200, 100, 300, 300, 300],
        "HARDNESS" : ["hard", "soft", "medium", "hard", "soft"],
        "OUTCOME" : [1,2,0,0,0] })
df

    COLOR SIZE  WEIGHT HARDNESS  OUTCOME
0     Red    S     200     hard        1
1  Yellow    M     100     soft        2
2     Red    L     300   medium        0
3     Red    S     300     hard        0
4    Blue    S     300     soft        0

In [19]:
# 説明変数X と 目的変数Yに分ける
df_X = df[["COLOR", "SIZE", "WEIGHT","HARDNESS"]].copy()
df_Y = df[["OUTCOME"]].copy()

In [20]:
df_X_test = pd.DataFrame({
        "COLOR" : ["Red", "Yellow", "Red", "Green"],
        "SIZE" : ["S", "M", "L", "XL", ],
        "WEIGHT" : [200, 100, 300, 400],
        "HARDNESS" : ["hard", "soft", "medium", "maxhard"] })
df_X_test

    COLOR SIZE  WEIGHT HARDNESS
0     Red    S     200     hard
1  Yellow    M     100     soft
2     Red    L     300   medium
3   Green   XL     400  maxhard

- エンコードしてみる

In [21]:
print("エンコード前")
display(df_X[["COLOR", "SIZE", "HARDNESS"]])

print("エンコード後")

# sparse=False でndarrayのかたちで返るようにする
oh = OneHotEncoder(sparse=False)
pd.DataFrame( oh.fit_transform( df_X[["COLOR", "SIZE", "HARDNESS"]] ) )
# どのカラムがどのカラムに対応しているかぱっと見わからない

エンコード前

    COLOR SIZE HARDNESS
0     Red    S     hard
1  Yellow    M     soft
2     Red    L   medium
3     Red    S     hard
4    Blue    S     soft

エンコード後

     0    1    2    3    4    5    6    7    8
0 0.00 1.00 0.00 0.00 0.00 1.00 1.00 0.00 0.00
1 0.00 0.00 1.00 0.00 1.00 0.00 0.00 0.00 1.00
2 0.00 1.00 0.00 1.00 0.00 0.00 0.00 1.00 0.00
3 0.00 1.00 0.00 0.00 0.00 1.00 1.00 0.00 0.00
4 1.00 0.00 0.00 0.00 0.00 1.00 0.00 0.00 1.00

- get_dummiesなら、どのカラムがどのカラムと対応しているのかわかりやすい

In [22]:
print("エンコード前")
display(df_X[["COLOR", "SIZE", "HARDNESS"]])

print("エンコード後")
pd.get_dummies( df_X[["COLOR", "SIZE", "HARDNESS"]] )

エンコード前

    COLOR SIZE HARDNESS
0     Red    S     hard
1  Yellow    M     soft
2     Red    L   medium
3     Red    S     hard
4    Blue    S     soft

エンコード後

,COLOR_Blue,COLOR_Red,COLOR_Yellow,SIZE_L,SIZE_M,SIZE_S,HARDNESS_hard,HARDNESS_medium,HARDNESS_soft
0,0,1,0,0,0,1,1,0,0
1,0,0,1,0,1,0,0,0,1
2,0,1,0,1,0,0,0,1,0
3,0,1,0,0,0,1,1,0,0
4,1,0,0,0,0,1,0,0,1

- でもOneHotEncoderなら、fit＆transformができる  
 パラメタを指定することでfit時にはなかった値を無視できる

In [23]:
print("エンコード前")
display(df_X_test[["COLOR"]])

print("エンコード後")
# handle_unknown="ignore"でfit時にはなかった値を無視
oh = OneHotEncoder(sparse=False, handle_unknown="ignore")
oh.fit(df_X[["COLOR"]])
pd.DataFrame( oh.transform( df_X_test[["COLOR"]] ) )

エンコード前

    COLOR
0     Red
1  Yellow
2     Red
3   Green

エンコード後

     0    1    2
0 0.00 1.00 0.00
1 0.00 0.00 1.00
2 0.00 1.00 0.00
3 0.00 0.00 0.00

- nanがある場合のgetDummies  
　nanが無視されるのでnanも1つの列としたい場合はnanを文字列"null"に置換するなどが必要

In [24]:
df_X_tmp = pd.DataFrame({
        "COLOR" : ["Red", "Yellow", "Red", np.nan, "Blue"],
        "HARDNESS" : ["hard", np.nan, "medium", "hard", "soft"] })

print("エンコード前")
display(df_X_tmp)

print("エンコード後")
pd.get_dummies(df_X_tmp)

エンコード前

    COLOR HARDNESS
0     Red     hard
1  Yellow      NaN
2     Red   medium
3     NaN     hard
4    Blue     soft

エンコード後

,COLOR_Blue,COLOR_Red,COLOR_Yellow,HARDNESS_hard,HARDNESS_medium,HARDNESS_soft
0,0,1,0,1,0,0
1,0,0,1,0,0,0
2,0,1,0,0,1,0
3,0,0,0,1,0,0
4,1,0,0,0,0,1

- nanがある場合のOneHotEncoder  
　エラーになる

In [25]:
df_X_tmp = pd.DataFrame({
        "COLOR" : ["Red", "Yellow", "Red", np.nan, "Blue"]})

#print("エンコード前")
#display(df_X_tmp)

try:
    print("エンコード後")
    oh = OneHotEncoder(sparse=False)
    pd.DataFrame( oh.fit_transform( df_X_tmp[["COLOR"]] ) )
except ValueError as e:
    print("エラー:", e)

エンコード後
エラー: Input contains NaN