In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [
        ['100', "aaa"],
        ['20', "bbb"],
    ],
    columns = ["xxx", "yyy"]
)

In [3]:
df

   xxx  yyy
0  100  aaa
1   20  bbb

In [8]:
df.rename( columns={"xxx":"X", "yyy":"Y"} )

     X    Y
0  100  aaa
1   20  bbb

In [14]:
df.rename( index={0:11, 1:12} )

    xxx  yyy
11  100  aaa
12   20  bbb

In [17]:
df.describe().T

    count unique  top freq
xxx     2      2  100    1
yyy     2      2  bbb    1

In [18]:
df.describe(include="all").T

    count unique  top freq
xxx     2      2  100    1
yyy     2      2  bbb    1

In [19]:
df

   xxx  yyy
0  100  aaa
1   20  bbb

In [32]:
df["xxx"].str[:1]

0    1
1    2
Name: xxx, dtype: object