In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [
        ['100', "aaa"],
        ['20', "bbb"],
    ],
    columns = ["xxx", "yyy"]
)

In [3]:
df

   xxx  yyy
0  100  aaa
1   20  bbb

In [8]:
df.rename( columns={"xxx":"X", "yyy":"Y"} )

     X    Y
0  100  aaa
1   20  bbb

In [13]:
df.rename( index={0:10", 1:"20"} )

    xxx  yyy
10  100  aaa
20   20  bbb