In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame(
    [
        ['2020-01-01'],
        ['2020-01-02'],
        []
    ],
    columns = ["xxx"]
)

In [14]:
df

          xxx
0  2020-01-01
1  2020-01-02
2        None

In [15]:
df.dtypes

xxx    object
dtype: object

In [18]:
pd.to_datetime(df["xxx"], format="%Y-%m-%d")

0   2020-01-01
1   2020-01-02
2          NaT
Name: xxx, dtype: datetime64[ns]

In [20]:
# 日付がタイムスタンプの制限を満たさない場合、
# errors='ignore'を渡すと例外が発生せずに元の入力を返します。
# errors='coerce'を渡すと、境界線外の日付を強制的にNaTに送ることができます。

In [32]:
df1 = pd.DataFrame(
    [
        ['2020-01-01'],
        ['2020-01-02'],
        ['200103']
    ],
    columns = ["xxx"]
)

In [37]:
try:
    pd.to_datetime(df1["xxx"], format="%Y-%m-%d" )
except ValueError as e:
    print(e)
    print(type(e))

time data 200103 doesn't match format specified
<class 'ValueError'>

In [40]:
pd.to_datetime(df1["xxx"], format="%Y-%m-%d", errors="ignore" )

0    2020-01-01
1    2020-01-02
2        200103
Name: xxx, dtype: object

In [ ]:
pd.to_datetime(df1["xxx"], format="%Y-%m-%d", errors="ignore" )