In [11]:
import pandas as pd
import numpy as np

x = pd.DataFrame([10,np.nan,30])
x

      0
0  10.0
1   NaN
2  30.0

In [14]:
type(x)

pandas.core.frame.DataFrame

In [15]:
from sklearn.impute import SimpleImputer
myImp = SimpleImputer()
x_imp = myImp.fit_transform(x)
x_imp

array([[10.],
       [20.],
       [30.]])

In [16]:
type(x_imp)

numpy.ndarray

In [17]:
pd.DataFrame(x_imp)

      0
0  10.0
1  20.0
2  30.0