In [81]:
import pandas as pd
import numpy as np

In [82]:
import random

---
データの準備

In [143]:
a =[]
b =[]
c =[]
for i in range(0,995):
    a.append(random.randint(1, 15))
    b.append(random.randint(1, 15))   
    c.append(random.randint(1, 15))   
len(a)

995

In [144]:
# Nanも入れておく
a.append(np.nan)
a.append(np.nan)
a.append(np.nan)
a.append(np.nan)
a.append(np.nan)

b.append(np.nan)
b.append(np.nan)
b.append(np.nan)
b.append(np.nan)
b.append(np.nan)

c.append(np.nan)
c.append(np.nan)
c.append(np.nan)
c.append(np.nan)
c.append(np.nan)

df = pd.DataFrame({"col1":a,
                   "col2":b,
                   "col3":c},)

df

     col1  col2  col3
0     9.0   7.0   4.0
1     7.0   5.0  13.0
2    13.0  10.0   5.0
3     4.0  11.0   9.0
4    10.0   4.0  12.0
..    ...   ...   ...
995   NaN   NaN   NaN
996   NaN   NaN   NaN
997   NaN   NaN   NaN
998   NaN   NaN   NaN
999   NaN   NaN   NaN

[1000 rows x 3 columns]

In [145]:
df["col1"].value_counts(dropna=False,normalize =True) * 100

7.0     8.1
14.0    7.7
15.0    7.7
5.0     7.4
8.0     7.1
3.0     7.0
2.0     6.4
6.0     6.4
1.0     6.3
4.0     6.2
13.0    6.2
9.0     6.1
12.0    6.0
10.0    5.7
11.0    5.2
NaN     0.5
Name: col1, dtype: float64

In [146]:
# 数字だとわかりにくいので文字にしておく
df["col1"] = df["col1"].mask(df["col1"]==1,  "A" )
df["col1"] = df["col1"].mask(df["col1"]==2,  "B" )
df["col1"] = df["col1"].mask(df["col1"]==3,  "C" )
df["col1"] = df["col1"].mask(df["col1"]==4,  "D" )
df["col1"] = df["col1"].mask(df["col1"]==5,  "E" )
df["col1"] = df["col1"].mask(df["col1"]==6,  "F" )
df["col1"] = df["col1"].mask(df["col1"]==7,  "G" )
df["col1"] = df["col1"].mask(df["col1"]==8,  "H" )
df["col1"] = df["col1"].mask(df["col1"]==9,  "I" )
df["col1"] = df["col1"].mask(df["col1"]==10, "J" )
df["col1"] = df["col1"].mask(df["col1"]==11, "K" )
df["col1"] = df["col1"].mask(df["col1"]==12, "L" )
df["col1"] = df["col1"].mask(df["col1"]==13, "M" )
df["col1"] = df["col1"].mask(df["col1"]==14, "N" )
df["col1"] = df["col1"].mask(df["col1"]==15, "O" )
df["col2"] = df["col2"].mask(df["col2"]==1,  "A" )
df["col2"] = df["col2"].mask(df["col2"]==2,  "B" )
df["col2"] = df["col2"].mask(df["col2"]==3,  "C" )
df["col2"] = df["col2"].mask(df["col2"]==4,  "D" )
df["col2"] = df["col2"].mask(df["col2"]==5,  "E" )
df["col2"] = df["col2"].mask(df["col2"]==6,  "F" )
df["col2"] = df["col2"].mask(df["col2"]==7,  "G" )
df["col2"] = df["col2"].mask(df["col2"]==8,  "H" )
df["col2"] = df["col2"].mask(df["col2"]==9,  "I" )
df["col2"] = df["col2"].mask(df["col2"]==10, "J" )
df["col2"] = df["col2"].mask(df["col2"]==11, "K" )
df["col2"] = df["col2"].mask(df["col2"]==12, "L" )
df["col2"] = df["col2"].mask(df["col2"]==13, "M" )
df["col2"] = df["col2"].mask(df["col2"]==14, "N" )
df["col2"] = df["col2"].mask(df["col2"]==15, "O" )
df["col3"] = df["col3"].mask(df["col3"]==1,  "A" )
df["col3"] = df["col3"].mask(df["col3"]==2,  "B" )
df["col3"] = df["col3"].mask(df["col3"]==3,  "C" )
df["col3"] = df["col3"].mask(df["col3"]==4,  "D" )
df["col3"] = df["col3"].mask(df["col3"]==5,  "E" )
df["col3"] = df["col3"].mask(df["col3"]==6,  "F" )
df["col3"] = df["col3"].mask(df["col3"]==7,  "G" )
df["col3"] = df["col3"].mask(df["col3"]==8,  "H" )
df["col3"] = df["col3"].mask(df["col3"]==9,  "I" )
df["col3"] = df["col3"].mask(df["col3"]==10, "J" )
df["col3"] = df["col3"].mask(df["col3"]==11, "K" )
df["col3"] = df["col3"].mask(df["col3"]==12, "L" )
df["col3"] = df["col3"].mask(df["col3"]==13, "M" )
df["col3"] = df["col3"].mask(df["col3"]==14, "N" )
df["col3"] = df["col3"].mask(df["col3"]==15, "O" )

-----
ココから

In [147]:
# NanもありのCategoricalなカラム
# カテゴリエンコーディングするために、下位〇%以下をグルーピングしたい
# ココでは6%以下のをグルーピングしたいとする
df["col1"].value_counts(dropna=False,normalize =True) * 100

G      8.1
O      7.7
N      7.7
E      7.4
H      7.1
C      7.0
F      6.4
B      6.4
A      6.3
D      6.2
M      6.2
I      6.1
L      6.0
J      5.7
K      5.2
NaN    0.5
Name: col1, dtype: float64

In [148]:
# まずNanは扱い煩雑になるのが嫌なので文字にする
df["col1"] = df["col1"].fillna("Null")
df["col1"].value_counts(dropna=False,normalize =True) * 100

G       8.1
O       7.7
N       7.7
E       7.4
H       7.1
C       7.0
F       6.4
B       6.4
A       6.3
D       6.2
M       6.2
I       6.1
L       6.0
J       5.7
K       5.2
Null    0.5
Name: col1, dtype: float64

In [149]:
# 下位６％のもの
tmp = df["col1"].value_counts(dropna=False,normalize =True) * 100
lowerList = list(tmp[tmp < 6].index)
lowerList

['J', 'K', 'Null']

In [151]:
for alow in lowerList:
    df["col1"] = df["col1"].mask( df["col1"] == alow, "ZZZ")

In [152]:
df["col1"].value_counts(dropna=False,normalize =True) * 100

ZZZ    11.4
G       8.1
O       7.7
N       7.7
E       7.4
H       7.1
C       7.0
F       6.4
B       6.4
A       6.3
D       6.2
M       6.2
I       6.1
L       6.0
Name: col1, dtype: float64

In [153]:
# グルーピングできた
# 処理前とチェックしてもあっている。

-----
まとめてやってみる

In [157]:
# 処理前
display(df["col2"].value_counts(dropna=False, normalize=True)*100)
display(df["col3"].value_counts(dropna=False, normalize=True)*100)

A      8.8
D      7.5
O      7.4
B      7.2
G      6.8
J      6.8
E      6.8
K      6.4
I      6.4
N      6.3
M      6.0
F      5.9
L      5.9
H      5.7
C      5.6
NaN    0.5
Name: col2, dtype: float64

I      8.1
H      7.8
M      7.7
K      7.5
C      7.4
G      7.0
J      6.9
A      6.6
O      6.5
D      6.4
F      6.1
N      5.9
E      5.7
B      5.1
L      4.8
NaN    0.5
Name: col3, dtype: float64

In [158]:
# グルーピングする基準％
p = 6
# グルーピングするカラム
cols = ["col2","col3"]

for col in cols:
    # まずNanは扱い煩雑になるのが嫌なので文字にする
    df[col] = df[col].fillna("Null")
    
    # 下位６％のもの
    tmp = df[col].value_counts(dropna=False,normalize =True) * 100
    lowerList = list(tmp[tmp < p].index)
    
    for alow in lowerList:
        df[col] = df[col].mask( df[col] == alow, "ZZZ")

In [159]:
# 処理後
display(df["col2"].value_counts(dropna=False, normalize=True)*100)
display(df["col3"].value_counts(dropna=False, normalize=True)*100)

ZZZ    23.6
A       8.8
D       7.5
O       7.4
B       7.2
G       6.8
J       6.8
E       6.8
K       6.4
I       6.4
N       6.3
M       6.0
Name: col2, dtype: float64

ZZZ    22.0
I       8.1
H       7.8
M       7.7
K       7.5
C       7.4
G       7.0
J       6.9
A       6.6
O       6.5
D       6.4
F       6.1
Name: col3, dtype: float64