In [2]:
import pandas as pd
import numpy as np

In [52]:
# データフレーム作成時に、dtype指定ってどうやるの？
# ここでは本題じゃないからスキップ
dtypes={
    "ID":"int64", 
    "appdate":"int64", 
    "birthday":"float64"}

In [53]:
df = pd.DataFrame(
    [
        [1, 20200503, 19850101],
        [2, 20191231, 19850101],
        [3, 20200101, 19850101],
        [4, 20200102, 19850101],
        [5, 20200102, np.nan],
    ],
    columns = ["ID","appdate", "birthday"],
)

In [54]:
df

   ID   appdate    birthday
0   1  20200503  19850101.0
1   2  20191231  19850101.0
2   3  20200101  19850101.0
3   4  20200102  19850101.0
4   5  20200102         NaN

In [55]:
df.dtypes
# 数値型で入っている

ID            int64
appdate       int64
birthday    float64
dtype: object

In [73]:
pd.to_datetime(df["appdate"], format="%Y%m%d")

0   2020-05-03
1   2019-12-31
2   2020-01-01
3   2020-01-02
4   2020-01-02
Name: appdate, dtype: datetime64[ns]

In [74]:
df["appdate"] = pd.to_datetime(df["appdate"], format="%Y%m%d")
df["birthday"] = pd.to_datetime(df["birthday"], format="%Y%m%d")

In [76]:
display(df)
df.dtypes
# 日付変換できた！

   ID    appdate   birthday
0   1 2020-05-03 1985-01-01
1   2 2019-12-31 1985-01-01
2   3 2020-01-01 1985-01-01
3   4 2020-01-02 1985-01-01
4   5 2020-01-02        NaT

ID                   int64
appdate     datetime64[ns]
birthday    datetime64[ns]
dtype: object

In [88]:
diff = df.loc[0, "appdate"] - df.loc[0, "birthday"] 
diff

Timedelta('12906 days 00:00:00')

In [95]:
round(int(diff.days) / 365)

35

In [107]:
%time
df["age"] = np.nan

for i in df.index:
    diff = df.loc[i, "appdate"] - df.loc[i, "birthday"] 
    
    if pd.notnull(diff):
        df.loc[i, "age"] = round(int(diff.days) / 365)

Wall time: 0 ns

In [108]:
df

   ID    appdate   birthday   age
0   1 2020-05-03 1985-01-01  35.0
1   2 2019-12-31 1985-01-01  35.0
2   3 2020-01-01 1985-01-01  35.0
3   4 2020-01-02 1985-01-01  35.0
4   5 2020-01-02        NaT   NaN

In [ ]:
# まあすごいざっくりだけどこんな感じかな